.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkout__image {
    width: 50%;
    height: auto;
}

/* .checkout__basketItem {

    background-image: url('https://m.media-amazon.com/images/G/01/cart/empty/kettle-desaturated._CB445243794_.svg');
} */